<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Trooping{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block menu %}
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
                <span class="my-0 mr-md-auto" id="header-logo"><img src="{{ asset('images/troopers-square.png')|imagine_filter('squared_thumbnail') }}"/> Trooping</span>
                <nav id="navbar-example2" class="navbar my-2 my-md-0 mr-md-3">
                    {{ knp_menu_render('main') }}
                </nav>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-outline-primary" href="{{ path('admin') }}">BO</a>
                {% else %}
                    <a class="btn btn-outline-primary" href="{{ path('login') }}">Login</a>
                {% endif %}
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
